<!DOCTYPE html>
<html>

<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PLURview</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="css/glide.core.css">
    <link rel="stylesheet" href="css/glide.theme.css">
</head>

<body>
    <nav class="ui massive inverted pointing menu">
          <a class="header item" href="/">
            PLURview
          </a>
          <a class="item <%= typeof page !== 'undefined' && page === 'venues' ? 'active' : '' %>" href="/venues">Venues
    
          </a>
          <a class="item <%= typeof page !== 'undefined' && page === 'artists' ? 'active' : '' %>" href="/artists">Artists
            
          </a>
          
          <div class="right menu">
                
            <% if(!currentUser){ %>
                  <a class="item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/login">Login</a>
                  <a class="item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register">Sign Up</a>
            <% } else { %>
                  <a class="item" href="/logout">Logout</a>
            <% } %>
          </div>
    </nav>
    
    
    
    <div class="ui container">
        <% if(error && error.length > 0) { %>
        
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        
        <div class="ui negative message">
              <i class="close icon"></i>
              <div class="header">
                <%= error %>
              </div>
         </div>
        
        <% } %>
        
        <% if(success && success.length > 0) { %>
        
        <div class="ui success message" role="alert">
              <i class="close icon"></i>
              <div class="header">
                <%= success %>
              </div>
        </div>
        
        <% } %>
    </div>
    
    <div class="ui container" style="margin-top: 10vh;">
        
       
    