<% include ../partials/header %>
    
    
<div style="width: 40%; margin: 25px auto;">
      <form action="/venues/<%= venue._id %>?_method=PUT" method="POST">
          
          <div class="ui card" style="width: 300px; margin: 25px auto;">
                <div class="content">
                    <div class="header">
                        Edit <%= venue.name %>
                    </div>
                </div>
                <div class="content">
                    
                    <div class="ui fluid input" style="margin: 15px auto">
                        <input class="form-control" type="text" name="venue[name]" value="<%= venue.name %>" placeholder="<%= venue.name %>">
                    </div>
                    <div class="ui fluid input" style="margin: 15px auto">
                        <input class="form-control" type="text" name="venue[image]" value="<%= venue.image %>">
                    </div>
                    <div class="ui fluid input" style="margin: 15px auto">
                        <input class="form-control" type="text" name="location" id="location" value="<%= venue.location %>">
                    </div>
                    <div class="ui fluid input" style="margin: 25px auto">
                        <button class="ui fluid blue button">Submit</button>
                    </div>
                
                </div>
            </div>
          
         
    </form>
</div>
  
    
    

   
    <% include ../partials/footer %>