<% include ../partials/header %>

<div class="ui padded centered four column doubling grid">
    <div class="ui cards">
        <div class="ui card">
            <div class="content">
                <div class="header">Where do you rave?</div>
                
            </div>
            <div class="content">
                <div class="description">
                    <p>Help us build our list of venues to follow.</p> 
                    
                </div>
            </div>
            <div class="extra content">
                <% if(!currentUser){ %>
                    <a href="/login"><button class = "ui blue button">Login</button></a>
                    <a href="/register"><button class = "ui green button" href="/register">Sign Me Up!</button></a>
                <% } else { %>
                  <a class = "huge ui green button" href="/venues/new">Add a Venue</a>
                <% } %>
                
            </div>
            
        </div>
        
        <% venues.forEach(function(venue){ %>
            <div class="ui card" href="/venues/<%= venue._id %>">
                
                <div class="content">
                    
                    <div class="header"><%= venue.name %></div>
                    
                </div>
                <div class="content">
                    <a class="ui image" href="/venues/<%= venue._id %>"><img src="<%= venue.image %>"></a>
                </div>
                
                <div class="extra content">
                    
                    <% if(currentUser && venue.author.id.equals(currentUser._id)){ %>
                    
                        <a href="/venues/<%= venue._id %>/edit"><button class="ui blue button">Edit Venue</button></a>
                        <form class="delete-form" action="/venues/<%= venue._id %>?_method=DELETE" method="POST">
                            <button class="ui negative button">Delete</button>
                        </form>
                    
                        
                    <% }; %>
                </div>
                
            </div>
        <% }); %>
    </div>
    
</div>




            <% include ../partials/footer %>