<% include ../partials/header %>

     <h1 style="text-align: center;">Edit <%= artist.name %></h1>
    
    
<div style="width: 40%; margin: 25px auto;">
      <form action="/artists/<%= artist._id %>?_method=PUT" method="POST">
          
          <div class="ui card" style="width: 300px; margin: 25px auto;">
                <div class="content">
                    <div class="header">
                        List a New Artist
                    </div>
                </div>
                <div class="content">
                    
                    <div class="ui fluid input" style="margin: 15px auto">
                        <input class="form-control" type="text" name="artist[name]" value="<%= artist.name %>">
                    </div>
                    <div class="ui fluid input" style="margin: 15px auto">
                        <input class="form-control" type="text" name="artist[logo]" value="<%= artist.logo %>" placeholder="Logo URL">
                    </div>
                    <div class="ui fluid input" style="margin: 15px auto">
                        <input class="form-control" type="text" name="artist[blurb]" value="<%= artist.blurb %>" placeholder="Artist">
                    </div>
                    <div class="ui fluid input" style="margin: 25px auto">
                        <button class="ui fluid blue button">Submit</button>
                    </div>
                
                </div>
            </div>
          
          
    </form>

  
    
    
</div>
   
    <% include ../partials/footer %>